.table__row {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #e7e7e7;
  transition: background-color 0.1s;
}

.table__row:hover {
  background-color: #eeeeee;
}

.table__text {
  font-weight: 600;
}