.header {
  box-shadow: rgba(51, 61, 71, 0.12) 0px 0px 8px 0px;
  background: white;
  padding: 30px 60px;
  z-index: 99;
  position: fixed;
  top:0;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.header__logo {
  height:15px;
  margin-right: auto;
  align-self: flex-start;
}


.link {
  color: #cfcfcf;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  align-self: flex-end;
}

.link:first-child {
  margin-left: auto;
}

.link--selected {
  color: black;
}

.content {
  margin-top: 120px;
  padding: 0 60px;
  margin-bottom: 100px;
}